@use "reset";

$gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

@mixin back-border {
  background-color: $dark-blue;
  border-radius: 0.5rem;
}

@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 90px;
}

main {
  width: 65%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);

  a {
    color: hsl(228, 45%, 44%);
  }
}

.circle {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 0.5rem;
  background-color: $pale-blue;
  margin-left: auto;
}

.col-left {
  @include back-border();
  @include shadow();
  border-top-right-radius: 6rem;
  padding: 2.4rem;
}

.col-right {
  @include back-border();
  @include shadow();
  position: relative;
  padding: 2rem 2.4rem;
}

.container {
  max-width: 100%;
  background: url("../images/bg-desktop.png"), $very-dark-blue;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.icons {
  background-color: $very-dark-blue;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.pale-blue {
  color: $pale-blue;
  font-size: 0.875rem;
}

.progress {
  border-radius: 1rem;
  padding: 0.12rem;
  background-color: $very-dark-blue;
  height: 1.25rem;
}

.progress-bar {
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 1rem;
  padding-right: 2px;
}

.fylo-tooltip {
  content: "";
  position: absolute;
  top: -2.5rem;
  right: 2.2rem;
  height: 3.5rem;
  width: 9rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem 1.2rem;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent hsl(0, 0%, 100%) transparent transparent;
  }

  h1,
  p {
    margin: auto;
  }

  p {
    font-size: 0.65rem;
    color: $grayish-blue;
  }
}

.usage {
  color: $grayish-blue;
  font-size: 0.875rem;

  span {
    color: $pale-blue;
  }
}

.w-81 {
  width: 81.5%;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  .col-right {
    margin-top: 1rem;
    text-align: center;
    padding: 2rem 2.4rem 3rem;
  }

  .container {
    padding: 0 1.5rem !important;
    background: url("../images/bg-mobile.png");
  }

  .fylo-tooltip {
    top: unset;
    right: unset;
    bottom: 0;
    width: unset;
    height: 4rem;
    transform: translate(50%, 50%);

    &::after {
      all: unset;
    }

    h1 {
      font-size: 2rem;
    }
  }
}
