@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  width: 65%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  visibility: hidden;
}
.attribution a {
  color: #3e52a3;
}

.circle {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 0.5rem;
  background-color: #dddbff;
  margin-left: auto;
}

.col-left {
  background-color: #1d2c67;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 90px;
  border-top-right-radius: 6rem;
  padding: 2.4rem;
  width: 100%;
}

.col-right {
  background-color: #1d2c67;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 90px;
  position: relative;
  padding: 2rem 2.4rem;
}

.container {
  max-width: 100%;
  background: url("../images/bg-desktop.png"), #0c122c;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.icons {
  background-color: #0c122c;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.pale-blue {
  color: #dddbff;
  font-size: 0.875rem;
}

.progress {
  border-radius: 1rem;
  padding: 0.12rem;
  background-color: #0c122c;
  height: 1.25rem;
}

.progress-bar {
  background: linear-gradient(90deg, #ffa399, #ff4d97);
  border-radius: 1rem;
  padding-right: 2px;
}

.fylo-tooltip {
  content: "";
  position: absolute;
  top: -2.5rem;
  right: 2.2rem;
  height: 3.5rem;
  width: 9rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 1.2rem;
  z-index: 2;
}
.fylo-tooltip::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.fylo-tooltip h1,
.fylo-tooltip p {
  margin: auto;
}
.fylo-tooltip p {
  font-size: 0.65rem;
  color: #848794;
}

.usage {
  color: #848794;
  font-size: 0.875rem;
}
.usage span {
  color: #dddbff;
}

.w-81 {
  width: 81.5%;
}

@media (min-width: 1400px) {
  main {
    width: 50%;
  }
}
@media (max-width: 600px) {
  main {
    width: 100%;
  }

  .col-right {
    margin-top: 1rem;
    text-align: center;
    padding: 2rem 2.4rem 3rem;
  }

  .container {
    padding: 0 1.5rem !important;
    background: url("../images/bg-mobile.png");
  }

  .fylo-tooltip {
    top: unset;
    right: unset;
    bottom: 0;
    width: unset;
    height: 4rem;
    transform: translate(50%, 50%);
  }
  .fylo-tooltip::after {
    all: unset;
  }
  .fylo-tooltip h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
